
.main-footer{
    background-color: hwb(222 0% 89% / 0.874);
}

.rights{
    background-color: hsl(230, 93%, 52%);
}


@media screen ( max-width 600px){

}

@media (max-width: 768px) {
    .rights,
    .social-icons {
      text-align: center;
    }
    .rights {
      margin-top: 20px;
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-right {
    top: 0.5rem;
    right: 0.5rem;
}

.product-price {
    font-size: 1.25rem;
    color: #000; /* Cor do preço */
}

.card {
    border: 1px solid #ddd; /* Adicione uma borda para destacar o cartão */
    border-radius: 10px; /* Deixe o cartão com bordas arredondadas */
    transition: box-shadow 0.3s; /* Adicione uma transição suave ao cartão */
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adicione uma sombra suave quando o mouse passar sobre o cartão */
}



.main-footer {
    background-color: #343a40;
}

.main-footer h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.main-footer address {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    margin-left: 10px;
}

.social-icons a:hover {
    color: #4CAF50;
} 


