{% load static %}


<footer style="background-color: #ffffff; padding: 40px 20px 20px; color: hsl(0, 25%, 95%);">
    <div class="footer-content" style="max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; gap: 30px; justify-content: space-between;">
        <div class="footer-col hidden" style="flex: 1; min-width: 250px;">
            <h3 class="footer-title">Vivo Contagem</h3>
            <p style="line-height: 1.6; margin-bottom: 15px;">Vivendo Contagem em espaços verdes sustentáveis e acessíveis.</p>
            <div class="social-links" style="display: flex; gap: 15px;">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer" class="social-icon">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>

        </div>
          <img src="{% static 'img/contagem.png' %}" alt="Logo Vivo Contagem" style="max-height: 50px; object-fit: contain; background: transparent; margin-right: 8px;">

        <div class="footer-col hidden delay-1" style="flex: 1; min-width: 250px;">
            <h3 class="footer-title">Parques</h3>
            <ul style="list-style: none; padding: 0;">
                <li style="margin-bottom: 8px;"><a href="{% url 'base:parque_1' %}" class="footer-link">Fernão Dias</a></li>
                <li style="margin-bottom: 8px;"><a href="{% url 'base:parque_2' %}" class="footer-link">Gentil Diniz</a></li>
                <li style="margin-bottom: 8px;"><a href="{% url 'base:parque_3' %}" class="footer-link">Sapucaias</a></li>
            </ul>
        </div>


        <div class="footer-col hidden delay-2" style="flex: 1; min-width: 250px;">
            <h3 class="footer-title">Prefeitura de Contagem</h3>
            <ul style="list-style: none; padding: 0;">
                <li style="margin-bottom: 8px;">
                    <a href="https://www.contagem.mg.gov.br/" target="_blank" rel="noopener noreferrer" class="footer-link">
                        Programação de eventos
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright hidden" style="text-align: center; margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd;">
        <p style="margin: 0;">&copy; 2025 Parques Urbanos. Todos os direitos reservados.</p>
    </div>
</footer>
