{% load static %}

<footer>
    <div class="footer-content">
        <div class="footer-col hidden">
            <h3>Viva Contagem</h3>
            <p>Vivendo Contagem em espaços verdes sustentáveis e acessíveis.</p>
            <div class="social-links">
  <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-tiktok"></i>
  </a>
  <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-youtube"></i>
  </a>
</div>

        </div>

        <div class="footer-col hidden delay-1">
            <h3>Parques</h3>
            <ul>
                <li><a href="#parques">Fernão Dias</a></li>
                <li><a href="#parques">Gentil Diniz</a></li>
                <li><a href="#parques">Sapucaias</a></li>
            </ul>
        </div>

       <div class="footer-col hidden delay-2">
  <h3>Prefeitura de Contagem</h3>
  <ul>
    <li><a href="https://www.contagem.mg.gov.br/" target="_blank" rel="noopener noreferrer">Programação de eventos</a></li>
  </ul>
</div>

        </div>
    </div>

    <div class="copyright hidden">
        <p>&copy; 2025 Parques Urbanos. Todos os direitos reservados.</p>
    </div>
</footer>
