{% load static %}

<footer>
    <div class="footer-content">
        <div class="footer-col hidden">
            <h3>Parques Urbanos</h3>
            <p>Transformando a cidade através de espaços verdes sustentáveis e acessíveis.</p>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

        <div class="footer-col hidden delay-1">
            <h3>Parques</h3>
            <ul>
                <li><a href="#parques">Fernão Dias</a></li>
                <li><a href="#parques">Gentil Diniz</a></li>
                <li><a href="#parques">Sapucaias</a></li>
            </ul>
        </div>

        <div class="footer-col hidden delay-2">
            <h3>Links Úteis</h3>
            <ul>
                <li><a href="#">Programação de eventos</a></li>
                <li><a href="#">Mapas dos parques</a></li>
                <li><a href="#">Projetos educativos</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright hidden">
        <p>&copy; 2025 Parques Urbanos. Todos os direitos reservados.</p>
    </div>
</footer>
